@model ReadRent.Models.User

@{
    ViewBag.Title = "Login";
}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Вход
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.username, "", new { @class = "form-control", @placeholder = "Имя пользователя (Логин)" })

                    </div>
                    <br />
                    <div class="form-group">
                        @Html.PasswordFor(m => m.password_hash, new { @class = "form-control", @placeholder = "Пароль" })
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Войти" />
                    </div>
                }

                <br />
                <div class="form-group">
                    <p>Нет аккаунта? @Html.ActionLink("Зарегистрироваться", "Register", "Home")<br /></p>
                </div>
            </div>
        </div>
    </div>
</div>